<template>
  <div>
    <button v-on:click="addPost">Add a new post</button>

    <Post
        v-for="item in posts"
        :key="item.id"
        :id="item.id"
        :title="item.title"
        :content="item.post"
        :view="false"
    />

    <button v-on:click="loadMore">Load more posts</button>
  </div>
</template>

<script>
  import Post from "@/components/Post";
  import { apiGet } from "@/api";

  export default {
    name: 'Home',

    components: {
      Post
    },

    data () {
      return {
        posts: [],
        lastPostID: null,
        canAddPost: false
      };
    },

    mounted() {
      this.getPosts();
    },

    methods: {
      async getPosts () {
        const data = await apiGet('posts', {
          limit: 10,
          last: this.lastPostID
        });

        this.posts = [...this.posts, ...data.posts];
        this.lastPostID = data.posts[data.posts.length - 1].id;
        if (data.hasOwnProperty('actions') && data.actions.includes('admin')) {
          this.canAddPost = true;
        }
      },

      async addPost () {
        await this.$router.push('add');
      },

      async loadMore () {
        await this.getPosts();
      }
    }
  }
</script>
