<template>
  <div>
    <div>
      <label>Title</label>
      <textarea v-model="post.title"></textarea>
    </div>

    <div>
      <label>Content</label>
      <textarea v-model="post.post"></textarea>
    </div>

    <div>
      <button v-on:click="add">Add</button>
    </div>
  </div>
</template>

<script>
  import {apiPost} from "@/api";

  export default {
    name: 'PostAdd',

    data () {
      return {
        post: {
          title: "",
          post: ""
        }
      };
    },

    methods: {
      async add () {
        if (this.post.title.length > 0 && this.post.post.length > 0) {
          const data = await apiPost('posts', this.post);

          if (data.post.hasOwnProperty('id')) {
            await this.$router.push('/');
          }
        }
      }
    }
  };
</script>