<template>
  <div>
    <Post
      :id="post.id"
      :title="post.title"
      :content="post.post"
      :view="true"
    />

    <hr />

    <Comment
        v-for="item in comments"
        :key="item.id"
        :id="item.id"
        :content="item.content"
        :is-hidden="item.hidden || false"
        :is-admin="isAdmin || false"
    />

    <CommentAdd :post-id="$route.params.id" />
  </div>
</template>

<script>
  import Post from "@/components/Post";
  import Comment from "@/components/Comment";
  import CommentAdd from "@/components/CommentAdd";
  import {apiDelete, apiGet} from "@/api";

  export default {
    name: 'PostView',

    components: {
      Comment,
      CommentAdd,
      Post
    },

    data () {
      return {
        post: {
          id: "",
          title: "",
          post: ""
        },
        comments: [],
        isAdmin: false
      };
    },

    mounted () {
      this.getPost();
      this.getComments();

      this.$root.$on("comment-added", (comment) => {
        this.comments.push(comment);
      });

      this.$root.$on("comment-hide", (data) => {
        this.comments.find(x => x.id === data.id).hidden = true;
      });

      this.$root.$on("comment-remove", (id) => {
        this.comments.splice(this.comments.findIndex(x => x.id === id), 1);
      });

      this.$root.$on("comment-updated", (data) => {
        this.comments.find(x => x.id === data.id).content = data.content;
      });
    },

    methods: {
      async getPost () {
        const data = await apiGet('posts/' + this.$route.params.id);

        this.post = data.post || {};
        if (data.hasOwnProperty('actions') && data.actions.includes('admin')) {
          this.isAdmin = true;
        }
      },

      async getComments () {
        const data = await apiGet('comments/' + this.$route.params.id);
        this.comments = data.comments || [];
      }
    }
  }
</script>