<template>
  <div v-if="!isHidden">
    <div v-if="!isEdit" class="cont">{{ content }}</div>
    <div v-if="isEdit" class="cont">
      <textarea v-model="content"></textarea>
      <button v-on:click="save">Save</button>
    </div>

    <div v-if="isAdmin">
      <button v-on:click="edit">Edit</button>
      <button v-on:click="hide">Hide</button>
      <button v-on:click="remove">Remove</button>
    </div>
    <hr />
  </div>
</template>

<script>
import {apiDelete, apiPatch, apiPost, apiPut} from "@/api";

  export default {
    name: 'Comment',

    props: {
      id: {
        type: String,
        required: true
      },

      content: {
        type: String,
        required: true
      },

      isHidden: {
        type: Boolean,
        required: false,
        default: false
      },

      isAdmin: {
        type: Boolean,
        required: false,
        default: false
      }
    },

    data () {
      return {
        isEdit: false
      };
    },

    methods: {
      edit () {
        this.isEdit = true;
      },

      async save () {
        if (this.content.length > 0) {
          const data = await apiPut('comments/' + this.id, {
            content: this.content
          });

          if (data.comments.hasOwnProperty('id')) {
            this.$root.$emit('comment-updated', data.comments);
            this.isEdit = false;
          }
        }
      },

      async hide () {
        const data = await apiPatch('comments/' + this.id);
        if (data.comments.hasOwnProperty('id')) {
          this.$root.$emit('comment-hide', data.comments);
        }
      },

      async remove () {
        const data = await apiDelete('comments/' + this.id);
        if (data.success) {
          this.$root.$emit('comment-remove', this.id);
        }
      }
    }
  };
</script>