<template>
  <div>
    <textarea v-model="content"></textarea>
    <button v-on:click="add">Add</button>
  </div>
</template>

<script>
  import { apiPost } from "@/api";

  export default {
    name: 'CommentAdd',

    props: {
      postId: {
        type: String,
        required: true
      }
    },

    data () {
      return {
        content: ""
      };
    },

    methods: {
      async add () {
        if (this.content.length > 0) {
          const data = await apiPost('comments/' + this.postId, {
            content: this.content
          });

          if (data.comments.hasOwnProperty('id')) {
            this.$root.$emit('comment-added', data.comments);
            this.content = "";
          }
        }
      }
    }
  };
</script>