<template>
  <div>
    <button v-if="view" v-on:click="edit">Edit post</button>

    <h2
        v-if="view && !isEdit"
        class="title"
    >{{ title }}</h2>

    <div  v-if="view && isEdit">
      <textarea v-model="title"></textarea>
    </div>

    <div
        v-if="!view"
        class="title"
    ><router-link :to="'/post/' + id">{{ title }}</router-link></div>

    <div v-if="!isEdit" class="cont">{{ content }}</div>

    <div v-if="view && isEdit">
      <textarea v-model="content"></textarea>
      <button v-on:click="save">Save</button>
    </div>
  </div>
</template>

<script>
  import {apiPut} from "@/api";

  export default {
    name: 'Post',

    props: {
      view: {
        type: Boolean,
        required: false,
        default: false
      },

      id: {
        type: String,
        required: true
      },

      title: {
        type: String,
        required: true
      },

      content: {
        type: String,
        required: true
      }
    },

    data () {
      return {
        isEdit: false
      };
    },

    methods: {
      edit () {
        this.isEdit = true;
      },

      async save () {
        if (this.content.length > 0 && this.title.length > 0) {
          const data = await apiPut('posts', {
            post: this.content,
            title: this.title,
            id: this.id
          });

          if (data.post.hasOwnProperty('id')) {
            this.title = data.post.title;
            this.content = data.post.post;

            this.isEdit = false;
          }
        }
      }
    }
  };
</script>